@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Wellcome to</h1>
                <h2>MVC Music Store</h2>
            </hgroup>
        </div>
    </section>
}
<h3>We suggest to View:</h3>
@{Html.RenderAction("viewforhome", "Item");}

